* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(to bottom, black, blue);
  color: white;
  text-align: center;
}

.coins-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  position: relative;
}

.coin-icon {
  width: 60px; /* Размер монеты увеличен */
  vertical-align: middle;
  margin-right: 10px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6)); /* Мягкое белое свечение */
}

.silver-level {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 10px; /* Silver с кубком под счётчиком */
}

.silver-icon {
  width: 20px;
  margin-right: 5px;
}

.progress-bar {
  width: 80%;
  height: 8px;
  background: #555;
  border-radius: 10px;
  margin: 20px auto 10px;
  position: relative;
}

.progress-bar-fill {
  width: 50%;
  height: 100%;
  background: #00f;
  border-radius: 10px;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.earn-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.central-coin-icon {
  width: 120px; /* Увеличен размер центральной кнопки */
}

.energy {
  margin-top: 10px;
  font-size: 20px;
  color: #888;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.5); /* Полупрозрачное меню */
  padding: 10px 0;
  width: 50%; /* Нижнее меню уже */
  border-radius: 20px;
}

.nav-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  width: 40px;
  margin-bottom: 5px;
}

.nav-menu .active p {
  color: yellow;
}

.task-profile-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.boost-button {
  position: absolute;
  top: -20px;
  right: -20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.boost-icon {
  width: 40px;
}
