* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(to bottom, black, blue);
  color: white;
  text-align: center;
}

.coins-display {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.coin-icon {
  width: 35px;
  vertical-align: middle;
}

.silver-level {
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-top: 5px;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.earn-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.plane-icon {
  width: 150px;
}

.energy {
  margin-top: 10px;
  font-size: 18px;
  color: #888;
}

.progress-bar {
  width: 80%;
  height: 8px;
  background: #555;
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
}

.progress-bar-fill {
  width: 50%;
  height: 100%;
  background: #00f;
  border-radius: 10px;
}

.goal-display {
  margin-top: 10px;
  font-size: 18px;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 15px 0;
  width: 70%;
  border-radius: 20px;
}

.nav-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  width: 40px;
  margin-bottom: 5px;
}

.nav-menu .active p {
  color: yellow;
}

/* Boost button */
.boost-button {
  position: absolute;
  top: -30px;
  right: -30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.boost-icon {
  width: 50px;
}
